@import "~@angular/material/_theming";

$shadow:2px 2px 5px map_get($mat-grey, 700);
$hovered-shadow: 5px 5px 10px map_get($mat-grey, 700);

.image-empty {
  background: url("/assets/images/items/empty-image.png");
  background-position: center;
}

mat-grid-list {
  margin : 1em;
}

mat-grid-tile {
  background-size: 95% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: map_get($mat-grey, 900);
  box-shadow: $shadow;
  cursor: pointer;
  border-radius: 1rem;

  &:hover{
    box-shadow: $hovered-shadow
  }
}


