.image-empty{
   
    background: url(/assets/images/items/empty-image.png) center;
}

mat-grid-tile{
    background-size: 100% auto;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: black; 
    cursor: pointer;
}
