@import "~@angular/material/_theming";
mat-grid-tile{
    background-size:  100% auto;
    background-clip: padding-box;
    background-position: top;
    background-repeat: no-repeat;
    background-color: black; 
    cursor: pointer;
}

:host {
    position: absolute;
    min-height:100vh;
    width:100%;
    background-color: map_get($mat-grey,200);

}

