@import "~@angular/material/_theming";

:host {
    position: absolute;
    min-height:100vh;
    width:100%;
    background-color: map_get($mat-grey,200);

}

mat-grid-tile{
    background-size:  90% auto;
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black; 
    cursor: pointer;
}

mat-card{
    margin:1rem;
}


